
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(160, 235, 141);
}




body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
     url("../images/backgroundindex.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;

}

ul a{
    color: white;

}

ol:hover {
    text-decoration: solid;
}

.template img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
    
}




